<ion-view view-title='<i class="icon ion-person"></i> Cliente'>
  <ion-content>
    <ion-list>

      <ion-item class="text-center">
        <button class="button button-block button-balanced" ng-click="takePhoto()" ng-hide="image">TIRAR FOTO</button>
        <img src="{{image}}">
      </ion-item>

      <ion-item>
        <p><strong class="positive">Dados do Cliente</strong></p>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col">
            <p><small>Nome</small></p>
          </div>
          <div class="col text-right">
            <p>Patrícia Gomes</p>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col">
            <p><small>Cidade/UF</small></p>
          </div>
          <div class="col text-right">
            <p>Campinas/SP</p>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col">
            <p><small>Nascimento</small></p>
          </div>
          <div class="col text-right">
            <p>15/02/1987</p>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col">
            <p><small>CPF</small></p>
          </div>
          <div class="col text-right">
            <p>405.134.XXX-XX</p>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col">
            <p><small>RG</small></p>
          </div>
          <div class="col text-right">
            <p>47.947.XXX-X</p>
          </div>
        </div>
      </ion-item>

      <br><br>

      <ion-item>
        <p><strong class="positive">Dados do Cartão</strong></p>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col">
            <p><small>Cartão</small></p>
          </div>
          <div class="col text-right">
            <p>OURO CARD INTERN. VISA UNIV</p>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col item-text-wrap">
            <p><small>Agência</small></p>
          </div>
          <div class="col col-center text-right">
            <p>425X-X</p>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col item-text-wrap">
            <p><small>Conta</small></p>
          </div>
          <div class="col col-center text-right">
            <p>755X-X</p>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col item-text-wrap">
            <p><small>Número do Cartão</small></p>
          </div>
          <div class="col col-center text-right">
            <p>4984.****.****.1537</p>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col item-text-wrap">
            <p><small>Nome no Cartão</small></p>
          </div>
          <div class="col col-center text-right">
            <p>Patrícia Gomes</p>
          </div>
        </div>
      </ion-item>      
    </ion-list>
    <br>
  </ion-content>
</ion-view>